.feature {
  background-color: $lightGrayishBlue;
  text-align: center;
  user-select: none;

  &__intro {
    margin: 0 auto 5rem auto;
    width: 90%;


    @include breakpoint-up(large){
      width: 70%;
      margin: 0 auto 7rem auto;
    }
  }

  &__grid {

    @include breakpoint-up(medium){
      display: flex;
      flex-wrap: wrap;     
    }
  }

  &__item {
    padding: 1.5rem;

    @include breakpoint-up(medium){
      flex: 0 0 50%;
    }

    @include breakpoint-up(large){
      flex: 1;
    }
  }

  &__icon {
    margin-bottom: 3rem;

    @include breakpoint-up(large){
      margin-bottom: 4.4rem;
    }    
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.15;
    color: $darkBlue;
    margin-bottom: 1.6rem;
    height: 6rem;
    
    @include breakpoint-up(large){
      font-size: 2.4rem;
      margin-bottom: 2.4rem;
      position: relative;
    }
  }

  &__description {
    font-size: $font-med;
    line-height: 1.5;
    text-align: justify;
    @include breakpoint-down(medium){
      width: 90%;
      margin: auto;
    }
   
  }
}