.testimonials {
    text-align: center;
    background-color: $lightGrayishBlue;
    position: relative;
    overflow: hidden;
    margin: auto;
    user-select: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__container {
        width: 100%;
        padding: 3rem 0rem 7rem;
        
        p{
            position: relative;
            margin-top: -1.8rem;
            text-align: left;
            top: 0%;
            padding-left: 1.8rem;
        }
        }

    &__content {
        margin: auto;
        overflow: hidden;
        position: relative;
        
        

        >div {
            padding: 0 0 1.8rem 0;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0 auto;

            &.inactive{
                opacity: 1;
                .img img{
                    animation: testimonial-hide .5s ease-in-out forwards;
                }

                h2{
                    animation: testimonial-content-out .5s ease-in-out forwards;
                }
                p {
                    animation: testimonial-content-out .5s ease-in-out forwards;
                }
            }
            &.active{
                opacity: 1;
                position: relative;
                .img img{
                    animation: testimonial-show .5s ease-in-out forwards;
                }
                h2{
                    animation: testimonial-content-in .5s ease-in-out forwards;
                }

                p{
                    animation: testimonial-content-in .5s ease-in-out forwards;
                }
            }
        }

        div {
            .img img {
                display: block;
                width: 15rem;
                height: 15rem;
                margin: auto;
                border-radius: 50%;
                filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
                @include breakpoint-down(small) {
                    width: 10rem;
                    height: 10rem;
                }
            }
            h2{
                color: $darkBlue;
                font-size: 2.4rem;
                margin: 1.5rem 0;
                font-weight: 700;
            }
            p {
                font-size: 1.8rem;
                color: black;
                margin: auto;
                width: 50%;
                word-spacing: 0.2rem;
                text-align: center;
            
            }
        }

    }

    .arrow {
        display: block;
        position: absolute;
        cursor: pointer;
        top: 50%;
        transition: all .3s ease-in-out;
        padding: 1rem;
        z-index: 22222222;
        svg{
            width: 3rem;
            height: 3rem;

        }

        &:before {
            cursor: pointer;
        }
        &:hover {
            transform: scale(1.5);
            transition: all .2s ease-in-out;
        }

        &.right {
            right: 5rem;
            @include breakpoint-up(large) {
                right: 15rem;
            }
            @include breakpoint-down(small) {
                right: 1rem;
            }
        }
        &.left {
            left: 5rem;
            @include breakpoint-up(large) {
                left: 15rem;
            }
            @include breakpoint-down(small) {
                left: 1rem;
            }
        }
    }

    .dots {
        padding: 0;
        position: absolute;
        bottom: 4rem;
        display: block;
        z-index: 3333;
        height: 1.2rem;
        margin: auto;
        left: 0;
        right: 0;

        .dot{
            list-style-type: none;
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            border: 1px solid $darkBlue;
            margin: 0 1rem;
            cursor: pointer;
            transition: all .5s ease-in-out;
            position: relative;

            &.active, &:hover {
                background: $darkBlue;
                border-color: $darkBlue;
            }
            &.active {
                animation: testimonials-scale .5s ease-in-out forwards;
            }

        }

    }


}

@keyframes testimonial-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@keyframes testimonial-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes testimonial-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes testimonial-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes testimonial-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}